<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="css/playerFeedback.css">
		<!--<script src="js/jquery-3.2.1.min.js"></script>-->
		<!--<script src="js/Callback.js"></script>-->
		<!--<script src="js/PlayerCallback.js"></script>-->
	</head>
	<!--<body onload="onLoad()">-->
	<body>
		<table id="table-main">
			<tr>
				<td colspan="2">
					<div class="player">
						<table class="table-player">
							<tr>
								<td class="player-name">[PlayerName]</td>
							</tr>
							<tr class="player-spacer-line"></tr>
							<tr>
								<td><div class="red"></div></td>								
							</tr>
						</table>
					</div>
				</td>
				<td colspan="3" rowspan="2" class="countdown-text">
					<div class="countdown-text">nächste Pause:</div>
					<div class="countdown">08:32</div>
				</td>
				<td colspan="2">
					<div class="player">
						<table class="table-player">
							<tr>
								<td class="player-name">[PlayerName]</td>
							</tr>
							<tr class="player-spacer-line"></tr>
							<tr>
								<td><div class="red"></div></td>								
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="player">
						<table class="table-player">
							<tr>
								<td class="player-name">[PlayerName]</td>
							</tr>
							<tr class="player-spacer-line"></tr>
							<tr>
								<td><div class="red"></div></td>								
							</tr>
						</table>
					</div>
				</td>				
				<td colspan="2">
					<div class="player">
						<table class="table-player">
							<tr>
								<td class="player-name">[PlayerName]</td>
							</tr>
							<tr class="player-spacer-line"></tr>
							<tr>
								<td><div class="red"></div></td>								
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td class="spacer"></td>
				<td>
					<div class="player">
						<table class="table-player">
							<tr>
								<td class="player-name">[PlayerName]</td>
							</tr>
							<tr class="player-spacer-line"></tr>
							<tr>
								<td><div class="red hide"></div></td>								
							</tr>
						</table>
					</div>
				</td>
				<td class="spacer"></td>
				<td>
					<div class="player">
						<table class="table-player">
							<tr>
								<td class="player-name">[PlayerName]</td>
							</tr>
							<tr class="player-spacer-line"></tr>
							<tr>
								<td><div class="red"></div></td>								
							</tr>
						</table>
					</div>
				</td>
				<td class="spacer"></td>
				<td>
					<div class="player">
						<table class="table-player">
							<tr>
								<td class="player-name">[PlayerName]</td>
							</tr>
							<tr class="player-spacer-line"></tr>
							<tr>
								<td><div class="red"></div></td>								
							</tr>
						</table>
					</div>
				</td>
				<td class="spacer"></td>
			</tr>
		</table>
	</body>
</html>