<html>
<head>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/cards.css">

    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script src="../public/js/Test.js"></script>
</head>
<body style="background-color: lightblue">
<div class="left-container">

<div class="player-container" id="player-1" data-id="1">
    <div class="deck">
        <div class="card-stack">
			<div class="card back" id="card0"></div>
			<div class="card" id="card0_ghost"></div>
		</div>
		<div class="card-stack">
			<div class="card back" id="card1"></div>
			<div class="card" id="card1_ghost"></div>
		</div>
    </div>
    <div class="banner">
        <div class="player-info">
            <div class="player-name" id="player-name">
                Kevin
            </div>
            <div class="player-name player-subname" id="player-twitchName">
				Papaplatte
            </div>
        </div>
    </div>
    <div class="percentage">
        <div class="percentage-banner">
			71%
        </div>
    </div>
</div>
</div>
</body>
</html>