.He-2 {
    background-image: url('../img/He-2.png');
}

.He-3 {
    background-image: url('../img/He-3.png');
}

.He-4 {
    background-image: url('../img/He-4.png');
}

.He-5 {
    background-image: url('../img/He-5.png');
}

.He-6 {
    background-image: url('../img/He-6.png');
}

.He-7 {
    background-image: url('../img/He-7.png');
}

.He-8 {
    background-image: url('../img/He-8.png');
}

.He-9 {
    background-image: url('../img/He-9.png');
}

.He-10 {
    background-image: url('../img/He-10.png');
}

.He-A {
    background-image: url('../img/He-A.png');
}

.He-B {
    background-image: url('../img/He-B.png');
}

.He-D {
    background-image: url('../img/He-D.png');
}

.He-K {
    background-image: url('../img/He-K.png');
}

.he-2 {
    background-image: url('../img/He-2.png');
}

.he-2 {
    background-image: url('../img/He-2.png');
}

.Ka-2 {
    background-image: url('../img/Ka-2.png');
}

.Ka-3 {
    background-image: url('../img/Ka-3.png');
}

.Ka-4 {
    background-image: url('../img/Ka-4.png');
}

.Ka-5 {
    background-image: url('../img/Ka-5.png');
}

.Ka-6 {
    background-image: url('../img/Ka-6.png');
}

.Ka-7 {
    background-image: url('../img/Ka-7.png');
}

.Ka-8 {
    background-image: url('../img/Ka-8.png');
}

.Ka-9 {
    background-image: url('../img/Ka-9.png');
}

.Ka-10 {
    background-image: url('../img/Ka-10.png');
}

.Ka-A {
    background-image: url('../img/Ka-A.png');
}

.Ka-B {
    background-image: url('../img/Ka-B.png');
}

.Ka-D {
    background-image: url('../img/Ka-D.png');
}

.Ka-K {
    background-image: url('../img/Ka-K.png');
}

.Ka-2 {
    background-image: url('../img/Ka-2.png');
}

.Ka-2 {
    background-image: url('../img/Ka-2.png');
}

.Kr-2 {
    background-image: url('../img/Kr-2.png');
}

.Kr-3 {
    background-image: url('../img/Kr-3.png');
}

.Kr-4 {
    background-image: url('../img/Kr-4.png');
}

.Kr-5 {
    background-image: url('../img/Kr-5.png');
}

.Kr-6 {
    background-image: url('../img/Kr-6.png');
}

.Kr-7 {
    background-image: url('../img/Kr-7.png');
}

.Kr-8 {
    background-image: url('../img/Kr-8.png');
}

.Kr-9 {
    background-image: url('../img/Kr-9.png');
}

.Kr-10 {
    background-image: url('../img/Kr-10.png');
}

.Kr-A {
    background-image: url('../img/Kr-A.png');
}

.Kr-B {
    background-image: url('../img/Kr-B.png');
}

.Kr-D {
    background-image: url('../img/Kr-D.png');
}

.Kr-K {
    background-image: url('../img/Kr-K.png');
}

.Kr-2 {
    background-image: url('../img/Kr-2.png');
}

.Kr-2 {
    background-image: url('../img/Kr-2.png');
}

.Pi-2 {
    background-image: url('../img/Pi-2.png');
}

.Pi-3 {
    background-image: url('../img/Pi-3.png');
}

.Pi-4 {
    background-image: url('../img/Pi-4.png');
}

.Pi-5 {
    background-image: url('../img/Pi-5.png');
}

.Pi-6 {
    background-image: url('../img/Pi-6.png');
}

.Pi-7 {
    background-image: url('../img/Pi-7.png');
}

.Pi-8 {
    background-image: url('../img/Pi-8.png');
}

.Pi-9 {
    background-image: url('../img/Pi-9.png');
}

.Pi-10 {
    background-image: url('../img/Pi-10.png');
}

.Pi-A {
    background-image: url('../img/Pi-A.png');
}

.Pi-B {
    background-image: url('../img/Pi-B.png');
}

.Pi-D {
    background-image: url('../img/Pi-D.png');
}

.Pi-K {
    background-image: url('../img/Pi-K.png');
}

.Pi-2 {
    background-image: url('../img/Pi-2.png');
}

.Pi-2 {
    background-image: url('../img/Pi-2.png');
}

.back {
    background-image: url('../img/back.png');
}

.activePlayerChip {
    background-image: url('../img/activePlayerChip.png');
}