/*noinspection CssUnknownTarget*/
.He-2 {
    background-image: url('../cards/He-2.png');
}

/*noinspection CssUnknownTarget*/
.He-3 {
    background-image: url('../cards/He-3.png');
}

/*noinspection CssUnknownTarget*/
.He-4 {
    background-image: url('../cards/He-4.png');
}

/*noinspection CssUnknownTarget*/
.He-5 {
    background-image: url('../cards/He-5.png');
}

/*noinspection CssUnknownTarget*/
.He-6 {
    background-image: url('../cards/He-6.png');
}

/*noinspection CssUnknownTarget*/
.He-7 {
    background-image: url('../cards/He-7.png');
}

/*noinspection CssUnknownTarget*/
.He-8 {
    background-image: url('../cards/He-8.png');
}

/*noinspection CssUnknownTarget*/
.He-9 {
    background-image: url('../cards/He-9.png');
}

/*noinspection CssUnknownTarget*/
.He-10 {
    background-image: url('../cards/He-10.png');
}

/*noinspection CssUnknownTarget*/
.He-A {
    background-image: url('../cards/He-A.png');
}

/*noinspection CssUnknownTarget*/
.He-B {
    background-image: url('../cards/He-B.png');
}

/*noinspection CssUnknownTarget*/
.He-D {
    background-image: url('../cards/He-D.png');
}

/*noinspection CssUnknownTarget*/
.He-K {
    background-image: url('../cards/He-K.png');
}

/*noinspection CssUnknownTarget*/
.Ka-2 {
    background-image: url('../cards/Ka-2.png');
}

/*noinspection CssUnknownTarget*/
.Ka-3 {
    background-image: url('../cards/Ka-3.png');
}

/*noinspection CssUnknownTarget*/
.Ka-4 {
    background-image: url('../cards/Ka-4.png');
}

/*noinspection CssUnknownTarget*/
.Ka-5 {
    background-image: url('../cards/Ka-5.png');
}

/*noinspection CssUnknownTarget*/
.Ka-6 {
    background-image: url('../cards/Ka-6.png');
}

/*noinspection CssUnknownTarget*/
.Ka-7 {
    background-image: url('../cards/Ka-7.png');
}

/*noinspection CssUnknownTarget*/
.Ka-8 {
    background-image: url('../cards/Ka-8.png');
}

/*noinspection CssUnknownTarget*/
.Ka-9 {
    background-image: url('../cards/Ka-9.png');
}

/*noinspection CssUnknownTarget*/
.Ka-10 {
    background-image: url('../cards/Ka-10.png');
}

/*noinspection CssUnknownTarget*/
.Ka-A {
    background-image: url('../cards/Ka-A.png');
}

/*noinspection CssUnknownTarget*/
.Ka-B {
    background-image: url('../cards/Ka-B.png');
}

/*noinspection CssUnknownTarget*/
.Ka-D {
    background-image: url('../cards/Ka-D.png');
}

/*noinspection CssUnknownTarget*/
.Ka-K {
    background-image: url('../cards/Ka-K.png');
}

/*noinspection CssUnknownTarget*/
.Kr-2 {
    background-image: url('../cards/Kr-2.png');
}

/*noinspection CssUnknownTarget*/
.Kr-3 {
    background-image: url('../cards/Kr-3.png');
}

/*noinspection CssUnknownTarget*/
.Kr-4 {
    background-image: url('../cards/Kr-4.png');
}

/*noinspection CssUnknownTarget*/
.Kr-5 {
    background-image: url('../cards/Kr-5.png');
}

/*noinspection CssUnknownTarget*/
.Kr-6 {
    background-image: url('../cards/Kr-6.png');
}

/*noinspection CssUnknownTarget*/
.Kr-7 {
    background-image: url('../cards/Kr-7.png');
}

/*noinspection CssUnknownTarget*/
.Kr-8 {
    background-image: url('../cards/Kr-8.png');
}

/*noinspection CssUnknownTarget*/
.Kr-9 {
    background-image: url('../cards/Kr-9.png');
}

/*noinspection CssUnknownTarget*/
.Kr-10 {
    background-image: url('../cards/Kr-10.png');
}

/*noinspection CssUnknownTarget*/
.Kr-A {
    background-image: url('../cards/Kr-A.png');
}

/*noinspection CssUnknownTarget*/
.Kr-B {
    background-image: url('../cards/Kr-B.png');
}

/*noinspection CssUnknownTarget*/
.Kr-D {
    background-image: url('../cards/Kr-D.png');
}

/*noinspection CssUnknownTarget*/
.Kr-K {
    background-image: url('../cards/Kr-K.png');
}

/*noinspection CssUnknownTarget*/
.Pi-2 {
    background-image: url('../cards/Pi-2.png');
}

/*noinspection CssUnknownTarget*/
.Pi-3 {
    background-image: url('../cards/Pi-3.png');
}

/*noinspection CssUnknownTarget*/
.Pi-4 {
    background-image: url('../cards/Pi-4.png');
}

/*noinspection CssUnknownTarget*/
.Pi-5 {
    background-image: url('../cards/Pi-5.png');
}

/*noinspection CssUnknownTarget*/
.Pi-6 {
    background-image: url('../cards/Pi-6.png');
}

/*noinspection CssUnknownTarget*/
.Pi-7 {
    background-image: url('../cards/Pi-7.png');
}

/*noinspection CssUnknownTarget*/
.Pi-8 {
    background-image: url('../cards/Pi-8.png');
}

/*noinspection CssUnknownTarget*/
.Pi-9 {
    background-image: url('../cards/Pi-9.png');
}

/*noinspection CssUnknownTarget*/
.Pi-10 {
    background-image: url('../cards/Pi-10.png');
}

/*noinspection CssUnknownTarget*/
.Pi-A {
    background-image: url('../cards/Pi-A.png');
}

/*noinspection CssUnknownTarget*/
.Pi-B {
    background-image: url('../cards/Pi-B.png');
}

/*noinspection CssUnknownTarget*/
.Pi-D {
    background-image: url('../cards/Pi-D.png');
}

/*noinspection CssUnknownTarget*/
.Pi-K {
    background-image: url('../cards/Pi-K.png');
}

/*noinspection CssUnknownTarget*/
.Pi-2 {
    background-image: url('../cards/Pi-2.png');
}

/*noinspection CssUnknownTarget*/
.Pi-2 {
    background-image: url('../cards/Pi-2.png');
}

/*noinspection CssUnknownTarget*/
.back {
    background-image: url('../cards/back.png');
}

.activePlayerChip {
    background-image: url('../img/activePlayerChip.png');
}