body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

.left-container {
    height: 100vh;
    width: 265px;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 55px 0;
}

.board-container {
    margin-top: 50px;
}

.banner {
    width: 197px;
    height: 60px;
    background-color: #151826;
    border-radius: 0 10px 10px 0;
    border: 3px solid #000000;
    padding: 0 15px 4px 0;
    display: table-cell;
    vertical-align: middle;
}

.banner-board {
    width: 520px;
    height: 60px;
    background-color: #151826;
    border-radius: 10px;
    border: 3px solid #000000;
    text-align: center;
    margin: auto;
    display: table;
}

.banner-table {
    display: table-cell;
    vertical-align: middle;
}

.player-info {
    display: inline-block;
    width: 100%;
}

.player-name {
    font-size: 24px;
    color: #FFFFFF;
    text-align: right;
    font-weight: bold;
    font-family: Tahoma, serif;
}

.player-subname {
    font-size: 17px;
    font-weight: normal;
}

.deck {
    height: 55px;
    text-align: left;
    padding-left: 48px;
    font-size: 6px;
    margin-top: 24px;
}

.board {
    height: 55px;
    text-align: center;
}

.card-stack {
    height: 100%;
    width: 76px;
    display: inline-block;
    position: relative;
}

.card {
    height: 100%;
    width: 76px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: no-repeat center center;
    background-size: contain;
}

.center-text {
    text-align: center;
}

.hide {
    display: none;
}

.percentage {
    display: table-cell;
    vertical-align: middle;
}

.percentage-banner {
    background-color: #151826;
    border-radius: 0 10px 10px 0;
    border: 3px solid #000000;
    border-left: none;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Tahoma, serif;
    height: 39px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 44px;
}

#table-board {
    width: 98%;
    color: #FFFFFF;
}

.blind {
    font-size: 17px;
    color: #FFFFFF;
    text-align: right;
    font-family: Tahoma, serif;
    width: 35%;
}

.blind-number {
    width: 6%;
}

#table-text {
    font-size: 30px;
    color: #FFFFFF;
    text-align: right;
    font-family: Tahoma, serif;
}

.debug {
    border: 1px solid red;
}