body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

#left-container {
    height: 100vh;
    width: 221px;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 55px 0;
}

.board-container {
    margin-top: 50px;
}

.banner {
    width: 221px;
    height: 60px;
    background-color: #151826;
    border-radius: 0 0 10px 0;
    border: 3px solid #000000;
    padding: 0 15px 4px 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.banner-board {
    width: 520px;
    height: 60px;
    background-color: #151826;
    border-radius: 10px;
    border: 3px solid #000000;
    text-align: center;
    margin: auto;
    display: table;
}

.banner-table {
    display: table-cell;
    vertical-align: middle;
}

.active-icon {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 9px;
    right: -30px;
    display: inline-block;
    background: no-repeat center center;
    background-size: contain;
}

.player-info {
    display: inline-block;
    width: 100%;
}

.player-name {
    font-size: 25px;
    color: #FFFFFF;
    text-align: right;
    font-weight: bold;
    font-family: Tahoma, serif;
}

.player-subname {
    font-size: 17px;
    font-weight: normal;
}

.top-area {
    height: 47px;
    text-align: left;
    font-size: 6px;
    margin-top: 24px;
    position: relative;
}

.deck-container {
    position: absolute;
    top: 0;
    right: 47px;
    height: 47px;
}

.deck {
    position: relative;
}

.board {
    text-align: center;
}

.card-stack {
    height: 100%;
    width: 61px;
    display: inline-block;
    position: relative;
    margin-right: 3px;
}

.card {
    height: 100%;
    width: 61px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: no-repeat center center;
    background-size: contain;
}

.center-text {
    text-align: center;
}

.hide {
    display: none;
}

.percentage {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 40px; /* force percentage cell to take all the available space (40 is no specific value, only need to be big enough)*/
}

.percentage-banner {
    display: table;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #151826;
    border-radius: 5px 5px 0 0;
    border: 1px solid #000000;
    border-bottom: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: Tahoma, serif;
    height: 19px;
    text-align: center;
    width: 44px;
}

.percentage-sign {
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
    padding: 0 2px 0 0;
}

#table-board {
    width: 98%;
    color: #FFFFFF;
}

.blind {
    font-size: 17px;
    color: #FFFFFF;
    text-align: right;
    font-family: Tahoma, serif;
    width: 35%;
}

.blind-number {
    width: 6%;
}

#table-text {
    font-size: 30px;
    color: #FFFFFF;
    text-align: right;
    font-family: Tahoma, serif;
}

.debug {
    border: 1px solid red;
}

#lower-third {
    margin: 0 auto;
}